# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Dependencies
node_modules/

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
*.log

# Build artifacts & packages
dist/
out/
build/
*.asar

# User profiles & caches
.fahos/
*.tmp
fahos_action_*.ps1
